/* colors &fonts*/

@font-face {
    font-family: 'vr-b';
    src: url('assets/fonts/VisbyRoundCF-Bold.woff');
}

@font-face {
    font-family: 'vr-m';
    src: url('assets/fonts/VisbyRoundCF-Medium.woff');
}

:root {
    --keyboard-bg-color: #00c3b3;
    --key-bg-color: #353535;
    --key-color: #FDF6FF;
    --lock-on-color: #00AE94;
    --font-b: 'vr-b', sans-serif;
    --font-m: 'vr-m', sans-serif;
}


/* Track */

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    /*to hide x-axis scroll bar since overflow is visible*/
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(0, 137, 150);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 137, 150, 0.7);
}

body {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

 ::selection {
    background-color: #5b5b5b;
    color: #fff;
}

 ::-moz-selection {
    background-color: #5b5b5b;
    color: #fff;
}

* {
    box-sizing: border-box;
    outline: none;
}

.light-off {
    background-color: rgba(0, 0, 0, 0.8) !important;
}


/* key */

.key {
    background-color: var(--key-bg-color);
    color: var(--key-color);
    font-family: var(--font-m);
    font-size: 12px;
    width: 46px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 4px;
    padding: 0 2px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.key:hover,
.key-press {
    cursor: pointer;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);
    -webkit-transform: translateY(2px);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.key-empty {
    background-color: transparent;
    box-shadow: none;
}

.key i {
    margin-top: 1px;
}

.key .fas {
    font-size: 11px;
}

.key.large {
    padding-top: 5px;
    font-size: 18px;
}

.key.large i {
    font-size: 18px;
    margin-top: 0px;
}

i.underscore {
    margin-top: -8px;
}


/* special keys */

.backspace,
.tab {
    width: 80px;
}

.enter {
    width: 100px;
}

.spacebar {
    width: 405px;
    font-size: 18px;
}

.shift {
    display: flex;
    flex-flow: row nowrap;
}

.l-s {
    width: 95px;
}

.r-s {
    width: 140px;
}

.c-menu i {
    border: 1px solid #f5f5f5;
    padding: 3px;
}

.num-special {
    justify-content: flex-start;
    padding-top: 5px;
}

.num-ins {
    width: 100px;
}

.num-large {
    margin-bottom: -58px;
    height: 100px;
}


/* caps lock, num lock, and scroll lock indicators */

.locks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: var(--key-bg-color);
    border-radius: 5px;
}

.lock {
    margin: 5px 22px;
    width: 135px;
}

.light-key {
    padding: 3px 5px;
    border-radius: 5px;
}

.off {
    color: var(--key-color);
    border: 1px solid var(--key-color);
}

.on {
    color: var(--lock-on-color);
    border: 1px solid var(--lock-on-color);
}


/* keyboard layout */

.keyboard {
    background-color: var(--keyboard-bg-color);
    width: 1250px;
    margin: 75px auto;
    padding: 20px 10px;
    border-radius: 15px;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    overflow-x: auto;
}

.row {
    display: grid;
    grid-template-columns: auto 0.2fr 0.2fr;
    grid-gap: 25px;
    padding: 5px;
    margin-top: 5px;
}

.group,
.mini-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.mini-group {
    margin-left: 28px;
}

.right {
    display: flex;
    justify-content: flex-end;
}


/* color themes */

.color-themes {
    text-align: center;
    font-family: var(--font-m);
}

.button-wrapper .button {
    width: 150px;
}

.button {
    height: 45px;
    background-color: transparent;
    border: 1px solid #5B5B5B;
    border-radius: 25px;
    color: #333;
    margin: 5px 15px;
    font-family: var(--font-b);
    font-size: 16px;
}

.button:hover {
    cursor: pointer;
    background-color: #5b5b5b;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}


/* custom theme */

.custom-theme {
    padding-top: 50px;
    display: none;
}

.cp-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.cp-wrapper .button {
    margin: 20px 15px;
    padding: 5px 25px;
}

.title {
    font-family: var(--font-b);
    text-align: center;
}

.sub-title {
    font-family: var(--font-m);
    letter-spacing: 1px;
}


/* notes */

.notes-wrapper {
    text-align: center;
    padding-top: 40px;
}

.notes-wrapper .title {
    line-height: 0;
}

.notes-wrapper b {
    font-family: var(--font-b);
}

.notes-wrapper .button {
    padding: 5px 25px;
    width: 150px;
}

.notes {
    max-width: 960px;
    margin: 0 auto;
    font-family: var(--font-m);
    letter-spacing: 1px;
    display: none;
}

.notes p {
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 20px 40px;
    line-height: 1.5;
    margin: 20px 0;
}

.show-notes {
    display: block;
}


/* footer */

.footer {
    text-align: center;
    background: linear-gradient(270deg, #f36b38, #f2354d);
    background-size: 100% 100%;
    -webkit-animation: gradientFill 8s ease infinite;
    -moz-animation: gradientFill 8s ease infinite;
    animation: gradientFill 8s ease infinite;
    margin-top: 50px;
    padding: 1px;
    font-family: var(--font-b);
}

.footer a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.footer a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: #000;
    visibility: hidden;
    border-radius: 10px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s cubic-bezier(.25, .46, .45, .94);
    transition: all .3s cubic-bezier(.25, .46, .45, .94);
}

.footer a:hover {
    color: #000;
}

.footer a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@-webkit-keyframes gradientFill {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradientFill {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradientFill {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}